# --- RabbitMQ ---
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# --- Correo

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion_de_16_caracteres
MAIL_REMITENTE=tu_correo@gmail.com

# --- Eureka ---
EUREKA_URI=http://localhost:8761/eureka
